.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: #DDD;
  margin-left: 10px;

}

.font-style {
  font-family: 'Fjalla One', sans-serif;
}

.nav-link:hover {
  color: white;

}


#body {
  background-image: url("/shinkansen_field.jpg");
  background-size: cover;
  background-color: gray;
  height: 100vh;
}

#navigation {
  vertical-align: middle;
    z-index: 2;
}

#pills-ticketbox, #pills-about {
  width: 80vw;
  margin: 10vh auto;
}

.dropdown-toggle {
  width: 180px;
}

.ticketform {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ticketselect {
  margin: 10px;
}

p {
  text-align: left;
}
